# Ignore everything
/*

# Allow specific files in root
!.gitignore
!.zshrc
!.tmux.conf

# Allow .config directory and specific contents
!.config/
.config/*
!.config/vscode/
!.config/nvim/
!.config/bat/config
!.config/ghostty/
!.config/karabiner/karabiner.json
!.config/lsd/
!.config/starship.toml

# Global ignores (will apply to all directories)
**/.DS_Store
**/.git/
**/node_modules/
**/lazy-lock.json
.dotfiles

